
body {
	

	overflow: hidden;
	margin: 0;	
}

.con {
	position: absolute;
	width: 5000px;
	height: 240px;
	bottom: 0px;
	font-size: 0px;
	left: 0px;

}
/*>= 0 <= 600*/
.base {
	display: inline-block;
	height: 200px;
	width: 600px;
	background-color: blue;
}

#base {
	display: inline-block;
	background-color: blue;
}

#hole {
	display: inline-block;
}
/* hole 1 > 600 <= 800 hole 2 >1000 <= 1200*/
.hole, .hole2 {
	width: 200px;
	display: inline-block;
	/*
	height: 50px;
	background-color: red;*/
}
/*>1700 <= 1900*/
.hole3 {
	width: 280px;
}

.hole4 {
	width: 250px;
}
/*> 800 <= 1000*/
.base2  {
	display: inline-block;
	width: 200px;
	height: 240px;
	background-color: blue;
}
/*>1200 <=1700*/
.base3 {
	display: inline-block;
	width: 500px;
	height: 200px;
	background-color: blue;
}
/*>1900 <= 2000*/
.base4 {
	height: 200px;
	width: 100px;
}

.base5 {
	width: 500px;
	height: 220px;
}

 .hole5 {
 	width: 200px;
 }
/*I might change the width of hole 5 and 6. since the platforms between these
are positioned absolutly it they don't serve the same purpose of spacing as they
do with things that are positioned regularly. They could be anything at this point.
basically when the time comes i'll make them spaced so that they take up the space
to the next non moving platform. I could really do this with just on hole but beings
how the hole positions defined in scipt.js are defined the way they are to create
moving holes between the two moving platform I'll make it with to just for the sake
of congruency. But the position of the hole divs isn't actually changing at all in
script.js so it doesn't really matter other than to space the next non moving element;*/

 .hole6 {
 	width: 460px;
 }

 .hole7 {
 	width: 400px;
 }

 .base6 {
 	display: block;
 	position: absolute;
 	width: 100px;
 	height: 10px;
 	
 	bottom: 190px;
 }

 .base7 {
 	display: block;
 	position: absolute;
 	width: 100px;
 	height: 10px;
 	
 	bottom: 190px;
 }

 .base8 {
 	width: 600px;
 	height: 220px;
 }

.block {
	position: absolute;
	height: 100px;
	width: 50px;
	background-color: green;
	bottom: 200px;
	left: 0px;

}

.ai1 {
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: red;
	bottom: 220px;
	
}



